/* .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: blueviolet;
  color: white;
  font-weight: 700;
  height: 5rem;
} */
