@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Montserrat:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"); */
/* @import url("") */

* {
  font-family: "Manrope", "IM Fell Double Pica" sans-serif;
  margin: auto;
  width: auto;
  /* padding: 2px; */
}
body {
  color: rgba(16, 17, 16, 0.9);
  font-family: "IM Fell Great Primer", sans-serif;
  background-color: rgba(220, 167, 23, 0.5);
  /* letter-spacing: 0.1rem; */
}
.foot-container {
  margin-top: 1rem;
}
.road-sign {
  width: 50%;
  height: 50%;
}
.koolau-zoom {
  padding-bottom: 75px;
}
.nav-container,
.foot-container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.nav-link,
.foot-link {
  /* font-family: "IM Fell Double Pica", sans-serif; */
  padding: 2px;
  font-size: 15px;
  font-weight: 600;
  text-transform: lowercase;
}
.nav-link:hover,
.foot-link:hover,
.ahu-link:hover {
  color: rgb(32, 1, 37);
  box-shadow: rgba(2, 90, 32, 0.86);
  cursor: pointer;
}
.ahu-link-container {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.moku-link-container {
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding-bottom: 2rem;
}
.ahu-link {
  padding-right: 5px;
  text-transform: uppercase;
  font-family: "IM Fell Double Pica", "sans-serif";
}
h1,
h2 {
  display: block;
  letter-spacing: 0.2rem;
  font-size: 27px;
  display: flex;
  justify-content: center;
  font-family: "IM Fell Double Pica", "sans-serif";
}
h2 {
  padding: 0.5rem;
}
/* placeholdermap {
  max-width: 3rem;
} */
.moku-text {
  padding: 0.8rem;
}
/* .img {
  max-width: 100%;
  max-height: 40%;
} */
.img-container {
  width: 50%;
  height: 50%;
  display: flex;
}

reports {
  overflow: auto;
}
p {
  padding: 1rem;
}
.napalizoom {
  padding-right: 28px;
}
/* map */
/*  top: 255px;
  left: 143px; */

@media screen and (min-width: 1280px) {
  .reports {
    display: flex;
    flex-direction: row;
  }
}
