@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Montserrat:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;600&display=swap");

* {
  font-family: "Manrope", "IM Fell Double Pica" sans-serif;
  margin: auto;
}
body {
  color: rgba(2, 2, 2, 0.9);
  font-family: "Manrope", "Big Shoulder Display", sans-serif;
}
.main-title {
  text-align: center;
  font-size: xxx-large;
}
.click-map {
  display: none;
}
.nav-desktop {
  display: none;
}
.tablet-map {
  display: none;
}
.desktop-bio {
  display: none;
}

.bio {
  font-size: large;
  padding: 4rem;
  font-family: "Unbounded";
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.5rem;
  right: 0;
  top: 2.5rem;
  width: 60%;
  background-color: #450068;
  z-index: 3000;
  opacity: 0;
}

.page-burger-open {
  opacity: 1;
  transition: all 390ms ease-in-out;
  z-index: 1;
}
.navbar {
  display: flex;
  color: white;
  top: 0;
  z-index: 0;
  justify-content: flex-start;
  background-color: #450068;
  height: 2.8rem;
  width: 100%;
  position: fixed;
}
.nav-link,
.nav-link-active {
  display: none;
}

.ham-link-active {
  color: #8f76c2;
  font-weight: 500;
  display: block;
}
.ham-link-active,
.foot-link {
  padding: 2px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: 300ms;
  cursor: pointer;
}
.ham-link-active:hover,
.foot-link:hover {
  font-size: 1rem;
  text-shadow: rgba(2, 90, 32, 0.86);
  color: rgb(1, 40, 8);
}
.ham-link-active:after {
  transform: scaleY(1);
  opacity: 1;
}
.title-header {
  width: 50%;
}
.home-moku-sign:hover {
  transition: 500ms;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.crumb,
.breadcrumb-arrow,
.img-cap {
  color: white;
  padding: 1rem;
}
.current-crumb {
  color: #020202;
}
.crumb:hover {
  /* font-size: 18px; */
  color: #8f76c2;
  text-shadow: #020202;
}
.ahu-link-container,
.moku-moku-sign {
  display: flex;
}
.moku-moku-sign {
  width: 20%;
}
.home-img {
  max-width: 100%;
  margin-top: 1rem;
  /* display: block; */
}
.ahu-link-container {
  display: flex;
  flex-direction: column;
  /* width: ; */
  padding: 3px;
}
.ahu-text {
  padding: 3rem;
  font-size: large;
}
.bio {
  padding: 1rem;
  /* letter-spacing: 0.1rem; */
}
.learn-more {
  padding: 1rem;
  font-size: 0.9rem;
}
.hanalei-bay {
  border-bottom: 0.1rem solid #85808896;
}
.moku-text {
  padding: 1.9rem;
  letter-spacing: 0.5px;
  width: 100%;
}

.moku-pic {
  max-width: 85%;
}
.moku-title {
  font-family: "Unbounded", sans-serif;
  display: flex;
  color: white;
  justify-content: center;
}
.moku-map {
  padding-left: 4rem;
}
.moku-container {
  padding-top: 3.5rem;
  background-image: url("../../kuapapa.capstone/src/assets/kalo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg-container {
  padding-top: 2rem;
}
.home-bg {
  background-image: url("../../kuapapa.capstone/src/assets/napalimokupic3.png");
  background-size: contain;
}
.bio {
  background-image: url("../../kuapapa.capstone/src/assets/petrog.png");
  background-repeat: repeat;
  background-size: cover;
}
.ahu-text {
  background-image: url("../../kuapapa.capstone/src/assets/petrog.png");
  background-repeat: repeat;
  background-size: cover;
  /* border-radius: 25px; */
  padding: 2rem;
  font-size: x-large;
  padding-bottom: 1rem;
}
.moku-text {
  background-image: url("../../kuapapa.capstone/src/assets/petrog.png");
  background-repeat: repeat;
  background-size: cover;
  /* border-radius: 25px; */
  padding: 2rem;
  padding-bottom: 1rem;
}
.ahu-elements {
  padding-top: 2rem;
}

.ahu-bg {
  background-image: url("../../kuapapa.capstone/src/assets/kalo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2 {
  display: block;
  letter-spacing: 0.2rem;
  display: flex;
}
h2 {
  padding: 0.5rem;
}
.report-title {
  background-color: #450068;
  color: white;
}
.video,
.reports {
  display: flex;
  flex-direction: column;
}
.video {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.ahu-text {
  font-size: larger;
  padding: 1.5rem;
}
.ahu-sign {
  padding: 1rem;
}
.ahu-map {
  padding: 0.2rem;
}

.moku-sign {
  width: 80%;
  /* z-index: 3; */
}
.home-moku-sign {
  padding: 2px;
}
.back-to-moku-sign {
  width: 20%;
  /* position: flex; */
  /* bottom: 20rem; */
  /* need to fix for bigger scrn */
}
.moku-link-container {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
.mobile-bio-text {
  font-size: small;
}
.desktop-map {
  display: none;
}
.mobile-title {
  display: none;
}
.desktop-title {
  font-family: "Unbounded";
  line-height: 67px;
}
.contact-page,
.resources,
.disclaimer {
  /* padding-top: 2.5rem; */
  background-image: url("../../kuapapa.capstone/src/assets/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.contact-icon {
  display: none;
}
.contact-container {
  padding: 5rem;
}

.bc:hover,
.cob:hover {
  font-size: 20px;
  color: #8f76c2;
  transition: 500ms;
}
.boundary-container {
  padding-top: 10rem;
  background-image: url("../../kuapapa.capstone/src/assets/contact-bg.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.niihau-text {
  padding: 1rem;
}

.weather-section {
  background-image: url("../../kuapapa.capstone/src/assets/kalo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.foot-container {
  background-color: #450068;
  color: white;
  display: flex;
  justify-content: center;
}

/* 1 tablet */
@media screen and (min-width: 640px) {
  .desktop-map {
    display: none;
  }
  .desktop-title {
    display: block;
    text-align: center;
  }
  .nav-desktop {
    display: none;
  }
  .tablet-map {
    display: flex;
    cursor: pointer;
  }
  .click-map {
    display: none;
  }
  .ham-links {
    z-index: 0;
  }
  .mobile-menu {
    display: flex;
    color: white;
    flex-direction: column;
    /* position: absolute; */
    padding: 0.5rem;
    right: 0;
    top: 2.5rem;
    width: 50%;
    background-color: #450068;
    z-index: 1000;
    opacity: 0;
  }
  .page-burger-open {
    opacity: 1;
    transition: all 390ms ease-in-out;
    /* z-index: 1; */
  }
  .navbar {
    display: flex;
    color: white;
    top: 0;
    /* z-index: 0; */
    justify-content: flex-start;
    background-color: #450068;
    height: 3rem;
    width: 100%;
    position: fixed;
  }
  .nav-link,
  .nav-link-active {
    display: none;
  }
  .ham-link-active {
    color: #8f76c2;
    font-weight: 500;
  }
  .ham-link,
  .foot-link {
    padding: 2px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: lowercase;
    transition: 300ms;
    cursor: pointer;
  }
  .ham-link:hover,
  .foot-link:hover {
    font-size: 1rem;
    text-shadow: rgba(2, 90, 32, 0.86);
    color: rgb(1, 40, 8);
  }
  .ham-link:after {
    transform: scaleY(1);
    opacity: 1;
  }
  .reports {
    display: flex;
  }
  .home-bg {
    background-image: url("../../kuapapa.capstone/src/assets/kalo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
  }
  .weather-section {
    background-image: url("../../kuapapa.capstone/src/assets/kalo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ahu-sign {
    max-width: 30%;
  }
  .ahu-link-container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* width: 50%; */
    padding: 3px;
  }
  .reports {
    display: flex;
  }
  .ahu-text {
    padding: 2rem;
  }
  .moku-links-and-map {
    padding-bottom: 2rem;
  }
  .bio {
    background-color: white;
  }
  .niihau-text {
    padding: 2rem;
  }
  .disclaimer,
  .contact-page,
  .mayor-msg {
    height: 100vh;
  }
  .contact-icons {
    display: none;
  }
  .home-moku-sign {
    width: 75%;
  }
  .moku-map {
    width: 50%;
  }
  .desktop-title {
    letter-spacing: 1rem;
    font-size: 4rem;
    font-family: "Unbounded";
  }
  .contact-page,
  .resources,
  .disclaimer {
    /* padding-top: 2.5rem; */
    background-image: url("../../kuapapa.capstone/src/assets/contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .foot-container {
    background-color: #450068;
    color: white;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .ahu-map {
    width: 70%;
  }
  .nav-desktop {
    display: none;
  }
  .desktop-title {
    display: block;
    text-align: center;
  }
  .tablet-map {
    display: none;
  }
  .desktop-map {
    display: flex;
    cursor: pointer;
  }
  .ham-links {
    z-index: 0;
  }
  .mobile-menu {
    display: flex;
    color: white;
    flex-direction: column;
    /* position: absolute; */
    padding: 0.5rem;
    right: 0;
    top: 2.5rem;
    width: 50%;
    background-color: #450068;
    z-index: 10000;
    opacity: 0;
  }
  .page-burger-open {
    opacity: 1;
    transition: all 390ms ease-in-out;
    /* z-index: 1; */
  }
  .navbar {
    display: flex;
    top: 0;
    color: white;
    /* z-index: 0; */
    justify-content: flex-start;
    background-color: #450068;
    height: 3rem;
    width: 100%;
    position: fixed;
  }
  .nav-link,
  .nav-link-active {
    display: none;
  }
  .ham-link-active {
    color: #8f76c2;
    font-weight: 400;
  }
  .ham-link,
  .foot-link {
    padding: 2px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: lowercase;
    transition: 300ms;
    cursor: pointer;
  }
  .ham-link:hover,
  .foot-link:hover {
    font-size: 1rem;
    text-shadow: rgba(2, 90, 32, 0.86);
    color: rgba(1, 40, 8, 0.717);
  }
  .ham-link:after {
    transform: scaleY(1);
    opacity: 1;
  }
  .home-bg {
    background-image: url("../../kuapapa.capstone/src/assets/kalo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
  }
  .contact-icon {
    display: none;
  }
  .bio {
    background-color: white;
    /* padding: 1rem; */
  }
  .ahu-link-container {
    display: flex;
    flex-direction: row;
  }
  .ahu-link:hover {
    font-size: 20px;
    color: #8f76c2;
  }
  .moku-link-container {
    width: 100%;
  }
  .moku-links-and-map {
    padding-bottom: 2rem;
  }

  .moku-text {
    padding: 3rem;
    font-size: medium;
  }
  .ahu-text {
    padding: 2rem;
    font-size: x-large;
  }
  .moku-pic {
    width: 75%;
  }

  .click-text {
    display: flex;
    font-size: larger;
    padding: 1rem;
  }
  .crumb,
  .current-crumb,
  .breadcrumb-arrow {
    color: white;
    padding: 1rem;
    font-size: 25px;
  }
  .crumb:hover {
    /* font-size: 18px; */
    color: #8f76c2;
    text-shadow: #020202;
  }
  .disclaimer,
  .contact-page,
  .mayor-msg {
    height: 100vh;
  }

  .home-moku-sign {
    width: 75%;
  }
  .moku-map {
    width: 50%;
  }
  .desktop-title {
    letter-spacing: 1rem;
    font-size: 4rem;
    font-family: "Unbounded";
  }
  .ahu-text {
    padding: 6rem;
    font-size: large;
  }
  .foot-container {
    background-color: #450068;
    color: white;
    display: flex;
    justify-content: center;
  }
  .report-title {
    letter-spacing: 0.5rem;
  }
}
@media screen and (min-width: 1380px) {
  .title-header,
  .title {
    display: none;
  }
  .report-title {
    letter-spacing: 0.5rem;
  }
  .bio {
    font-size: large;
    padding: 4rem;
    font-family: "Unbounded";
  }
  .nav-desktop {
    display: flex;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    padding: 1rem;
    color: white;
    background-color: #450068;
  }
  .click-map {
    display: flex;
    color: #020202;
    font-size: xx-large;
    padding: 2rem;
    font-family: "Unbounded";
  }
  .mobile-bio {
    display: none;
  }
  .desktop-bio {
    display: block;

    /* font-weight: 600; */
  }
  .nav-link {
    display: flex;
  }
  .nav-link-active {
    color: #8f76c2;
    font-size: 19px;
  }
  .nav-link,
  .foot-link {
    /* z-index: 1; */
    font-size: 1rem;
    font-weight: 400;
    padding: 0.1rem;
    /* text-transform: lowercase; */
    cursor: pointer;
  }
  .nav-link:hover,
  .foot-link:hover {
    font-size: 20px;
    color: #8f76c2;
    text-shadow: #f7fbf8;
  }
  .nav-link:after {
    transform: scaleY(0.2);
    opacity: 1;
  }
  .hamburger {
    display: none;
  }
  .video,
  .reports {
    display: flex;
    flex-direction: row;
  }
  .signature {
    width: 30%;
  }
  .ahu-sign {
    max-width: 30%;
    display: flex;
    padding: 1rem;
  }
  .ahu-text {
    padding: 8rem;
    font-size: large;
  }
  .moku-link-container {
    width: 100%;
  }
  .moku-links-and-map {
    padding-bottom: 3rem;
  }

  .moku-text {
    padding: 3rem;
    font-size: medium;
  }
  .moku-pic {
    width: 50%;
  }
  .moku-map {
    width: 50%;
  }
  .home-bg {
    background-image: url("../../kuapapa.capstone/src/assets/kalo-bg.png");
    /* background-repeat: repeat; */
    background-size: cover;
    padding-top: 45px;
  }

  .desktop-title {
    letter-spacing: 1rem;
    font-size: 4rem;
    font-family: "Unbounded";
  }
  .mobile-title {
    display: none;
  }
  .ahu-map {
    width: 70%;
  }
  .ahu-elements {
    padding: 2.5rem;
    /* background-image: url("../../kuapapa.capstone/src/assets/napalimokupic3.png");
    background-repeat: no-repeat;
    background-size: cover; */
  }
  .ahu-map-and-sign {
    padding: 4.5rem;
  }
  .ahu-link-container {
    display: flex;
    flex-direction: row;
  }
  .ahu-link:hover {
    font-size: 20px;
    color: #8f76c2;
  }
  .contact-container {
    padding: 5rem;
  }
  .weather-section {
    display: flex;
    /* justify-content: space-around; */
  }
  .weather-report {
    padding-right: 12rem;
  }
  .all-contact {
    /* padding: 2rem; */
    display: flex;
    flex-wrap: nowrap;
  }
  .cob:hover,
  .bc:hover {
    color: #0a3726;
    font-size: 20px;
    transition: 500ms;
  }
  .boundary-container {
    padding-top: 10rem;
    background-image: url("../../kuapapa.capstone/src/assets/contact-bg.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  .moku-sign {
    /* display: inline-block; */
    padding: 1rem;
    width: 80%;
  }
  .moku-moku-sign {
    width: 40%;
  }
  .ahu-text {
    padding: 6rem;
    font-size: large;
  }
  .learn-more {
    font-size: larger;
    display: flex;
    justify-content: center;
  }
  .contact-icon {
    display: none;
  }
  .contact-container {
    padding: 5rem;
  }
  .disclaimer,
  .contact-page,
  .mayor-msg {
    height: 100vh;
  }
  .niihau-text {
    padding: 8rem;
  }
  .home-moku-sign:hover {
    transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 80px 16px;
  }
  .crumb,
  .breadcrumb-arrow {
    color: white;
    padding: 1rem;
    font-size: 20px;
  }
  .current-crumb {
    color: #030304;
  }
  .crumb:hover {
    /* font-size: 18px; */
    color: #8f76c2;
    text-shadow: #020202;
  }

  .dropdown:hover {
    font-size: 21px;
    transition: 100ms;
    text-shadow: #020202;
  }
  .home-moku-sign {
    width: 75%;
  }
  .bc {
    display: flex;
    justify-content: center;
  }
  .dropdown1,
  .dropdown2 {
    display: flex;
    flex-direction: row;
  }
  .foot-container {
    background-color: #450068;
    color: white;
    display: flex;
    justify-content: center;
  }
}
